<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Year 1</h2>
                <hr class="light">
                <p>Freshman year felt rough. I hadn’t planned on being engineer, and yet I found myself in the incredibly privileged position of being directly admitted to UW CS. The result was continuous self-doubt, half from feeling out of my depth and half to talk myself out of the major: “Do I even belong here?” and “Everyone knows more than me,” ad infinitum.</p>
                <p>Amid this angst, I decided to rail against my uncertainty by doing what any confused college kid might do—furiously committing myself to every opportunity besides CS itself.</p>
            </div>
        </div>
    </div>
</section>
