<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="../img/nc.jpg" class="img-responsive" style="display:block; margin:auto; height: 200px; border:1px solid black; padding-bottom: 25px">

            <h1>
                <span class="text_1">Budding Engineer</span>
                <span class="text_2">Aspiring Educator</span>
            </h1>
            <hr>
            <p>Engineer. Educator. At the start of college, neither career prospect would have been at the tip of my tongue—despite being cajoled to apply to UW’s CS program by my parents, I had always pictured myself studying finance. Now, 4 years later, I’m soon to graduate with a major in Computer Science and a minor in Education. </p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">How did I get here?</a>
        </div>
    </div>
</header>
