<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>
                <span class="text_1">Novice Engineer</span>
                <span class="text_2">Aspiring Educator</span>
            </h1>
            <hr>
            <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">My Story</a>
        </div>
    </div>
</header>
