<section class="bg-primary" id="onwards">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Onwards</h2>
                <hr class="light">
                
                <p>After graduation, I intend to continue building upon the “community engineering” that I discovered at UW. To start, I’ll be working as a software engineer at an EdTech company, where I’ll continue to build resources for learners across the globe. And while not a student, I plan to remain active in the classroom—you can expect to see me sharing my CS experiences, joining alumni panels, and volunteering to give K-12 kids their first tastes of computer science. Then, when I’ve had my fill of engineering, I hope to come full circle and become a professor, guiding students’ self-discovery from the other side.</p>
                <p>With luck, that’ll be a story in itself.</p>
            </div>
        </div>
    </div>
</section>
