<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Year 1</h2>
                <hr class="primary">
                <p>Freshman year felt rough. I hadn’t planned on being an engineer, and yet I found myself with the incredible privilege of direct admission to UW CS. The result was continuous self-doubt, half from feeling out of my depth and half to talk myself out of the major: “Do I even belong here?” and “Everyone knows more than me,” ad infinitum.</p>
                <p>Amid this angst, I decided to rail against my uncertainty by doing what any confused college kid might do—furiously committing myself to every opportunity besides CS itself.</p>
                <p>I joined a business fraternity, landing myself on the philanthropy and entrepreneurship committees.</p>
                <p>I volunteered at the Hope Place Women’s Shelter as an elementary tutor, first through UW service-learning and then on my own, helping kids with their homework for several hours a week.</p>
                <p>And I interned with the ASUW Director of Community Relations, servicing the needs of populations ranging from transfer students to student-athletes.</p>
                <div class="container-fluid">
                    <div class="row no-gutter">
                        <div class="col-lg-4 col-sm-6">
                            <a href="https://www.facebook.com/akpsiuw/" class="portfolio-box">
                                <img src="../img/akpsi_650.jpg" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            UW Alpha Kappa Psi
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a href="https://www.ugm.org/what-we-do/stabilization/hope-place-shelter/" class="portfolio-box">
                                <img src="../img/hopeplace_650.jpg" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            Hope Place Shelter
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a href="http://www.asuw.org/" class="portfolio-box">
                                <img src="../img/asuw_650.jpg" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            ASUW
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>   
                <p>While these experiences didn’t actually help my feelings towards CS, they were the energizing parts of each week. More importantly, they also got me thinking about a recurring theme: that it’s a huge challenge to <i>engineer communities</i>, to match people to the resources they need. How do you organize 100 fraternity members into committees in which they each feel valued? How do you ensure a stable pipeline of volunteers when your shelter staff is stretched thin? How do you make yourself heard despite representing a small fraction of a university’s student body?</p>
                <p>As someone still searching for his place at UW, these community-oriented intricacies were the kinds of engineering I cared about. After all, they concerned the people and places that actively surrounded me—infinitely more interesting than abstract code on a screen, right?</p>
        </div>
    </div>

</section>

