<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Year 1</h2>
                <hr class="primary">
                <p>Freshman year felt rough. I hadn’t planned on being an engineer, and yet I found myself with the incredible privilege of direct admission to UW CS. The result was continuous self-doubt, half from feeling out of my depth and half to talk myself out of the major: “Do I even belong here?” and “Everyone knows more than me,” ad infinitum.</p>
                <p>Amid this angst, I decided to rail against my uncertainty by doing what any confused college kid might do—furiously committing myself to every opportunity besides CS itself.</p>
                <p>I joined a business fraternity, landing myself on the philanthropy and entrepreneurship committees.</p>
                <p>I volunteered at the Hope Place Women’s Shelter as an elementary tutor, first through UW service-learning and then on my own, helping kids with their homework for several hours a week.</p>
                <p>And I interned with the ASUW Director of Community Relations, servicing the needs of populations ranging from transfer students to student-athletes.</p>
                <p>While these experiences didn’t actually help my feelings towards CS, they were the energizing parts of each week. More importantly, they also got me thinking about a recurring theme: that it’s a huge challenge to engineer communities, to match people to the resources they need. How do you organize 100 fraternity members into committees in which they each feel valued? How do you ensure a stable pipeline of volunteers when your shelter staff is stretched thin? How do you make yourself heard despite representing a small fraction of a university’s student body?</p>
                <p>As someone still searching for his place at UW, these community-oriented intricacies were the kinds of engineering I cared about. After all, they concerned the people and places that actively surrounded me—infinitely more interesting than abstract code on a screen, right?</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="../img/asuw_logo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                UW Alpha Kappa Psi
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="../img/asuw_logo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Hope Place Shelter
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="../img/asuw_logo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                ASUW
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Sturdy Templates</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    </div> -->
</section>
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="../img/asuw_logo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                UW Alpha Kappa Psi
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="../img/asuw_logo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Hope Place Shelter
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="../img/asuw_logo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                ASUW
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
