<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Years 3, 4, & Onwards</h2>
                <hr class="primary">
                
                <p>Discovering the education-technology intersection had scratched a longstanding itch, and starting junior year, I wanted to explore more of its nuances. This meant becoming a contributing member of the UW tech community—not just someone focused on activities outside of CS.</p>
                <p>My first move was to pursue teaching, subsequently TAing several courses, including a “CS and Social Good” freshman seminar that I helped develop. </p>
                <p>One of my priorities was to “teach to my freshman self”—to reassure my students that it was completely normal to be unsure if CS was the right fit for them, precisely because I’d been in their shoes not long ago. In sharing how I eventually aligned CS to my own values, I felt my own sense of catharsis too.</p>
                <p>My second priority was to help students find their own “intersections.”. Throughout the quarter, we discussed a variety of topics that they might resonate with, including tech ethics, tech’s relationship to causes like political transparency or racial justice, and even examples of student advocacy within UW CS. I hoped that in my students’ minds, CS would transform from mere 1’s and 0’s into a powerful facilitator for their real-life interests, and that instead of experiencing 2 uncertain years like me, they could immediately involve themselves as changemakers in their communities.</p>
                
                <div class="icontain">
                    <iframe src="https://www.youtube.com/watch?v=m3m7CIjx4Pw&ab_channel=NathanChen" allowfullscreen></iframe>
                </div>
                
                <p>Around this time, I also realized that beyond working within existing frameworks of community, I wanted to create them, too. That led me to join the HuskyTech RSO, where I helped put on a series of educational opportunities that students might not have otherwise: company tech talks, interviewing workshops, and industry mentorship programs.</p>
                <p>Then, the pandemic caused a full-stop that HuskyTech had to adjust to. Noticing waves of cancelled tech internships in the wake of COVID, the HuskyTech team and I looked to create a replacement internship experience for our peers. The result was a program challenging 64 students to develop comprehensive projects over the span of 11 weeks.</p>
                <p>It felt like a familiar challenge to adapt to participants’ needs (Want to learn more about project development? Create weekly webinars. Need expert advice? Host office hours with industry professionals. Lacking motivation? Develop a judging system). One instance from this time really stands out to me. During a project review I hosted, I met a team of communications—not CS!—majors who aspired to become professional project managers. Participating in our program, they told me, was an unexpected yet welcomed chance to step in that direction. And for me, that’s what it’s always been about—people have needs that often go unnoticed, but when you find a way to meet them, it’s fulfilling like nothing else.</p>
                <p>After graduation, I intend to continue building upon the “community engineering” that I discovered at UW. To start, I’ll be working as a software engineer at an EdTech company, where I’ll continue to build resources for learners across the globe. And while not a student, I plan to remain active in the classroom—you can expect to see me sharing my CS experiences, joining alumni panels, and volunteering to give K-12 kids their first tastes of computer science. Then, when I’ve had my fill of engineering, I hope to come full circle and become a professor, guiding students’ self-discovery from the other side. With luck, that’ll be a story in itself.</p>
                
                <div class="container-fluid">
                    <div class="row no-gutter">
                        <div class="col-lg-4 col-sm-6">
                            <a href="https://www.facebook.com/akpsiuw/" class="portfolio-box">
                                <img src="../img/akpsi_650.jpg" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            UW Alpha Kappa Psi
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a href="https://www.ugm.org/what-we-do/stabilization/hope-place-shelter/" class="portfolio-box">
                                <img src="../img/hopeplace_650.jpg" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            Hope Place Shelter
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a href="http://www.asuw.org/" class="portfolio-box">
                                <img src="../img/asuw_650.jpg" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            ASUW
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>   
        </div>
    </div>

</section>

